.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    height: 960px;
    width: 100%;
    background-color: #E5EEFF;
    background-image: url(../assets/images/backgrounds/background-login.svg);
    background-position: 0 35px;
    background-position-x: center;
    background-repeat: no-repeat;

    .login_block {
        display: flex;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        border-radius: 8px;
        padding: 48px 48px;

        form {
            p {
                max-width: 286px;
                word-spacing: wrap;
                margin: -25px 0 15px 0;
                font-size: 14px;
                color: #FF60C3;
            }

            label {
                font-size: 14px;
                position: relative;

                &::after {
                    content: '*';
                    color: #FF60C3;

                    position: absolute;
                    right: -9px;
                    top: 12px;

                    font-size: 20px;
                }
            }

            input {
                min-width: 286px;
                margin-bottom: 25px;

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 1000px #E4E7EB inset;
                }
            }

            .auth-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                
                button {
                    width: 100%;
                    box-sizing: border-box;
                    cursor: pointer;
                    height: 48px;
                    line-height: 150%;
                    padding: 12px 32px;
                    background: #115EFB;
                    border: none;
                    border-radius: 8px;
                
                    font-size: 16px;
                    color: #FFFFFF;
                }

                .registration {
                    cursor: pointer;
                    font-size: 14px;
                    color: #484848;
                    transition: .3s ease;

                    &:hover {
                        color: #7B7B7B;
                    }
                }
            }
        }
    }
}